server:
  port: 8888

spring:
  application:
    name: gateway-service
  cloud:
    consul:
      host: consul-container
      port: 8500
      discovery:
        enabled: true
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
